* {
    margin: 0px;
    padding: 0px;
}

.header-bg-color {
    background-color: #e59090;

}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.jsc {
    justify-content: space-between;
}

li {
    display: inline-block;

}

.col-50 {
    width: 50%;
    margin: 0 auto;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 20px;
}

.alc {
    align-items: center;
}

.logo {
    padding: 40px;
}

.search {
    margin-right: 20px;
}

.tlc {
    text-align: center;
}

/*--------------------------------- Section-One---------------------------------------  */
.sec-one {
    background-image: url("../Images/Sushi.png");
    /* height: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 95px;
}

.sec-one-text {
    color: white;
    padding: 100px 0 100px 50px;
}

.sec-one-text h1 {
    font-size: 80px;
    padding-bottom: 40px;
}

.sec-one-text p {
    font-size: 30px;
    width: 35%;
    padding-bottom: 40px;
}

.sec-one-text button {
    padding: 15px 40px;
    border: 2px solid;
    border-radius: 50px;
    background-color: #6db3ab;
    color: black;
}

/*--------------------------------- Section-two---------------------------------------  */
.sec-two-img {
    padding: 100px 0;
}

.sec-two-text {
    /* color: #6db3ab; */
    /* font-size: 100%; */
    /* padding-left: 40px; */
    padding: 100px 0;
}

.sec-two-text h2 {
    color: #2fb4ac;
    ;
    font-size: 70px;
    padding-top: 70px;
}

.sec-two-text p {
    color: #2fb4ac;
    font-size: 30px;
    width: 70%;
    padding: 60px 0px;
    /* columns: 3; */
}

.sec-two-text button {
    padding: 15px 40px;
    border: 2px solid;
    border-radius: 50px;
    background-color: #e59090;
    color: white;
    font-weight: bolder;
    font-size: 50%;
    margin-bottom: 100px;
}

.pd {
    padding: 100px 0 0 0;
    /* padding-bottom: 100px; */
}

/*--------------------------------- Section-three---------------------------------------  */
.sec-three-box{
    background-color: #e59090;
    padding-bottom: 150px;

}
.box h3,p{
    padding: 10px 0 ;
}

.sec-three-text {
    /* display: flex; */
    font-weight: bold;
}

.sec-three img {
    padding: 100px;

}

.sec-three-text {
    font-size: 50px;
    padding: 100px;
    margin-bottom: 60px;
}
.col30 {
    width: 25%;
    margin: 0 auto;
     color: white;
     font-size: 20px;
     /* padding-top: 20px; */
}

