* {
    margin: 0px;
    padding: 0px;
}

.header-bg-color {
    background-color: #e59090;

}

.container {
    width: 1400px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.jsc {
    justify-content: space-between;
}

li {
    display: inline-block;

}

.col-50 {
    width: 50%;
    margin: 0 auto;
}

li>a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 20px;
}

.alc {
    align-items: center;
}

.logo {
    padding: 40px;
}

.search {
    margin-right: 20px;
}

.tlc {
    text-align: center;
}

/*--------------------------------- Section-One---------------------------------------  */
.sec-one {
    background-image: url("../Images/Sushi.png");
    /* height: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 95px;
}

.sec-one-text {
    color: white;
    padding: 100px 0 100px 50px;
}

.sec-one-text h1 {
    font-size: 80px;
    padding-bottom: 40px;
}

.sec-one-text p {
    font-size: 30px;
    width: 35%;
    padding-bottom: 40px;
}

.sec-one-text button {
    padding: 15px 40px;
    border: 2px solid;
    border-radius: 50px;
    background-color: #6db3ab;
    color: black;
}

/*--------------------------------- Section-two---------------------------------------  */
.sec-two-img {
    padding: 100px 0;
}

.sec-two-text {
    /* color: #6db3ab; */
    /* font-size: 100%; */
    /* padding-left: 40px; */
    padding: 100px 0;
}

.sec-two-text h2 {
    color: #2fb4ac;
    ;
    font-size: 70px;
    padding-top: 70px;
}

.sec-two-text p {
    color: #2fb4ac;
    font-size: 30px;
    width: 70%;
    padding: 60px 0px;
    /* columns: 3; */
}

.sec-two-text button {
    padding: 15px 40px;
    border: 2px solid;
    border-radius: 50px;
    background-color: #e59090;
    color: white;
    font-weight: bolder;
    font-size: 50%;
    margin-bottom: 100px;
}

.pd {
    padding: 100px 0 0 0;
    /* padding-bottom: 100px; */
}

/*--------------------------------- Section-three---------------------------------------  */
.sec-three-box {
    background-color: #e59090;
    padding-bottom: 150px;
    margin: 0 auto;
}

.box h3,
p {
    padding: 10px 0;
}



.sec-three img {
    padding: 100px;

}

.sec-three-text {
    font-size: 50px;
    padding: 100px;
    margin-bottom: 60px;
}

.col30 {
    width: 25%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    padding-top: 20px;


}



/* Media  */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
 .container {
        width: 100%;
        margin: 0 auto;
    }

    .row {
        flex-wrap: wrap;
    }

    .col30{
        width: 100%;
        margin: 0 auto;
    }
}

    /* .sec-three-po-img {
        text-align: right;
    }

    .sec-three-po-img img {
        width: 50%;
    }
} */ 

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
 .container { 
    width: 100%;
        margin: 0 auto;
    }

    .col30 {
        width: 50%;
        margin: 0 auto;
    }
} 

 /* // Large devices (desktops, 992px and up) */ 
 @media (min-width: 992px) { 
 .container {
        width: 960px;
        margin: 0 auto;
    }

    .col-30 {
        width: 50%;
        margin: 0 auto;
    }
}

 /* // X-Large devices (large desktops, 1200px and up) */ 
 @media (min-width: 1200px) {
    .container {
        width: 1180px;
        margin: 0 auto;
    }

    .col-30 {
        width: 30%;
        margin: 0 auto;
    } 
 } 

 /* // XX-Large devices (larger desktops, 1400px and up) */ 
 @media (min-width: 1400px) {} 

/* --------------------------------- Section-four---------------------------------------   */

.sec-four {
    margin: 0 auto;
    /* margin-bottom: 80px; */
    padding-bottom: 80px;
}

.sec-four-text {
    /* margin: 0 auto; */
    margin-bottom: 100px;
    padding-bottom: 100px;
    font-weight: bold;
    font-size: 50px;
    color: #2fb4ac;
    font-family: "Montserrat"

}

.sec-four-text-p {
    font-size: 5px;
    font-weight: 10%;
    width: 200px;
    color: #2fb4ac;
}

.sec-four-text-shapes {
    margin: 0 auto;
    /* align-content: center; */
    padding: 20px 100px;
    display: flex;

}

/* --------------------------------- Section-five------------------------------------------------------------------------   */

.sec-five {
    background-color: aqua;
    padding: 100px ;
    margin:0 auto
    
}

.sec-five-text {
    font-weight: bold;
    font-size: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* margin-bottom: 60px; */
    padding : 60px;

}

.sec-five-text-p {
    font-size: 5px;
    font-weight: 20%;
    width: 200px;
    color: white
}
.sec-five button {
    padding: 15px 40px;
    border: 2px solid;
    border-radius: 50px;
    background-color: #e59090;
    color: white;
    font-weight: bolder;
    font-size: 50%;
    margin-bottom: 100px;
}











/* ------------------------------------------------------sec-six------------------------------------------------------------- */
.sec-six {
    background-image: url("../Images/BG_SE-6.png");
    /* height: 600px; */
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 100px;
    /* padding-bottom: 100px;    */
    
    
}
.sec-six-text {
     font-size: 80px;
    font-weight: 80px;
    /* width: 100px; */
    padding-bottom: 100px;
    color: white 
}

.sec-six p  {
    font-size: 40px;
    /* width: 100px; */
    /* font-weight: 200%; */
    color: white;
    padding-bottom: 100px;
}


